* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.introPageCont {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* height: 100vh; */
  justify-content: center;
  padding-top: 100px;
  margin-bottom: 10vh;
}

.headerCont {
  width: 100%;
  /* height: 15rem; */
  display: flex;
  justify-content: center;
  /* margin-bottom: 2rem; */
  
}

.headerImg {
  /* height: 100%; */
  width: 30vw;
  height: auto;

  /* object-fit: cover; */
}
.topCont {
  display: flex;
  flex-direction: row;
  width: 90%;
  /* max-width: 100rem; */
  /* justify-content: space-around; */
  padding-top: 1rem;
}

.mascotCont {
  display: flex;
  width: 30vw;
  margin-right: 5vw;
  border-radius: 1rem;
  /* background-color: red; */
  background-color: transparent;
}
.mascot {
  width: 30vw;
  height: auto;
  /* margin-right: 3vw; */
  border-radius: 1rem;
  -webkit-box-shadow: 0px 5px 18px 5px rgba(0, 0, 0, 0.78);
  box-shadow: 0px 5px 18px 5px rgba(0, 0, 0, 0.78);
}
.subtitle {
  font-size: 2vw;
  padding-bottom: 1rem;
  font-family: 'Sora', sans-serif;
}

.counterTextCont {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  width: 50vw;
}

.greetings {
  font-size: 3vw;
  margin-bottom: 2rem;
  font-weight: 400;
  color: orange;
  /* font-style: italic; */
}

.greetingsText {
  font-size: 2vw;
  margin-bottom: 40px;
  color: #ffffff;
  font-style: italic;
}
.smallText {
  text-align: center;
}

.counterCont {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}

.timeHeadersCont {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.75vw;
  font-weight: 400;
  position: relative;
}

.timeHeadersCont::after {
  position: absolute;
  top: 50%;
  right: -50%;
  content: ":";
}

.timeHeadersCont1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.75vw;
  font-weight: 400;
  position: relative;
}

.time {
  font-size: 3.5vw;
  margin-top: 1.5vh;
  font-family: "Eagle Lake", cursive;
  color: orange;

}

.bottomCont {
  margin-top: 10vh;
  display: flex;
  width: 90%;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.litePaper {
  font-size: 3vw;
  text-decoration: none;
  color: inherit;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-family: "Eagle Lake", cursive;

  /* border: none; */
  transition: 0.1s ease-in;
  -o-transition: 0.1s ease-in;
  -ms-transition: 0.1s ease-in;
  -moz-transition: 0.1s ease-in;
  -webkit-transition: 0.1s ease-in;
  transform: scale(1);
  padding-top: 1.5rem;
}

.litePaper:hover {
  color: orange;
  transition: 0.1s ease;
  transform: scale(1.2);
}

.socialMediaCont {
  display: flex;
}

.mediaGroup {
  display: flex;
  align-items: center;
  margin: 5vh 10% 0 10%;
  text-decoration: none;
  justify-content: center;
  color: inherit;
  transition: 0.1s ease;
  border: none;
  background-color: transparent;
  font-family: inherit;
  cursor: pointer;
}

.mediaGroup:hover {
  color: #ffffff;
}
.smImg {
  color: inherit;
}
.mediaName {
  font-size: 2.25vw;
  margin-left: 0.5vw;
}

@media screen and (max-width: 800px) {
  .introPageCont {
    /* height: auto; */
    padding-top: 100px;
  }
  .headerCont {
    width: 60vw;
    height: auto;
    margin-bottom: 0;
  }

  .headerImg {
    width: 100%;
  }
  .topCont {
    flex-direction: column-reverse;
    width: 90%;
    /* font-size: 1vw; */
    text-align: center;
    /* padding: 0 10vw 0 10vw; */
    align-items: center;
  }

  .counterTextCont {
    margin-bottom: 2rem;
  }

  .mascotCont {
    width: 70vw;
    /* height: auto; */
    /* height: 40vh; */
  }

  .mascot {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .greetings {
    font-size: 6vw;
    transform: translateX(-12.5%);
    width: 80vw;
    flex-wrap: nowrap;
    margin-bottom: 5vh;
  }

  .subtitle {
    font-size: 4vw;
    text-align: center;
    font-family: 'Sora', sans-serif;
  }

  .counterCont {
    width: 70%;
    margin-left: 15%;
  }

  .bottomCont {
    margin-top: 3vh;
    flex-direction: column;
    align-items: center;
  }

  .litePaper {
    font-size: 9vw;
    transform: translateX(-12.5%);
  }

  .socialMediaCont {
    justify-content: center;
  }

  .mediaName {
    font-size: 5vw;
  }
  .litePaper:hover {
    color: #e0dacb;
    transition: 0.1s ease;
    transform: scale(1);
  }
}

/* @media only screen and (min-width: 600px) and (max-width: 800px) {
  .introPageCont {
    padding-top: 0vh;
  }
  .headerCont {
    width: 50vw;
    height: 30vw;
  }
} */
