.title {
  font-weight: 400;
  font-size: 3vw;
}
.root {
  padding-top: 6rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 8rem;
}
.firstRow {
  display: flex;
  justify-content: center;
}
.secondRow {
  display: flex;
  justify-content: center;
  padding-top: 0rem;
}
.pic {
  width: 15vw;
  border-radius: 1rem;
  -webkit-box-shadow: 0px 5px 18px 5px rgba(0, 0, 0, 0.78);
  box-shadow: 0px 5px 18px 5px rgba(0, 0, 0, 0.78);
  cursor: pointer;
  transition: 0.1s ease-in;
  -o-transition: 0.1s ease-in;
  -ms-transition: 0.1s ease-in;
  -moz-transition: 0.1s ease-in;
  -webkit-transition: 0.1s ease-in;
  transform: scale(1);
}
.devpic{
  width: 15vw;
  border-radius: 1rem;
  -webkit-box-shadow: 0px 5px 18px 5px rgba(0, 0, 0, 0.78);
  box-shadow: 0px 5px 18px 5px rgba(0, 0, 0, 0.78);
}
.pic:hover{
  transform: scale(1.05);
}
.credentials {
  background-color: #ededed;
  width: 100%;
  padding: 5vh;
  display: flex;
  justify-content: center;
}

.tavernText {
  font-size: 4vw;
  font-weight: 500;
  font-style: italic;
}
.byText {
  color: #42434b;
  display: inline-block;
  font-size: 2vw;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  vertical-align: center;
}
.name {
  font-size: 2vw;
  font-weight: 400;
  color: orange;
  font-family: 'Sora', sans-serif;
}
.nameTitle{
  font-size: 1.3vw;
  margin-bottom: 2vh;
  font-style: italic;
}
.desc {
  padding-top: 2rem;
  font-size: 1.2vw;
  width: 15vw;
}
.elder {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}
.litePaper {
  font-size: 3vw;
  text-decoration: none;
  color: inherit;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-family: "Eagle Lake", cursive;
  padding-top: 5rem;
  width: fit-content;
  /* text-align: center; */

  /* border: none; */

}

.litePaper:hover {
  color: orange;
  
}
.text{
  font-size: 1.5vw;
}


@media only screen and (max-width: 600px) {
  /* .root {
    margin-top: 5vh;
    margin-bottom: 5vh;
    width: 70vw;

  }
  .firstRow {
    display: flex;
    flex-direction: column;
    width: 70vw;

  }
  .secondRow {
    display: flex;
    flex-direction: column;
    padding-top: 0rem;
    width: 70vw;

  }
  .elder {
    padding-bottom: 1rem;
    width: 70vw;
  }

  .title {
    font-size: 8.5vw;
  }
  .pic{
    width: 70vw;
  } */

  .secondRow {
    flex-direction: column;
    padding-top: 0rem;
  }
  .firstRow {
    flex-direction: column;
  }
  .char {
    width: 70vw;
  }
  .pic {
    width: 70vw;
    border-radius: 1rem;
    -webkit-box-shadow: 0px 5px 18px 5px rgba(0, 0, 0, 0.78);
    box-shadow: 0px 5px 18px 5px rgba(0, 0, 0, 0.78);
  }
  .devpic {
    width: 70vw;
    border-radius: 1rem;
    -webkit-box-shadow: 0px 5px 18px 5px rgba(0, 0, 0, 0.78);
    box-shadow: 0px 5px 18px 5px rgba(0, 0, 0, 0.78);
  }
  .title {
    font-size: 8.5vw;
  }
  .desc {
    font-size: 4vw;
    width: 70vw;
  }
  .name {
    font-size: 6vw;
  }
  .elder {
    padding-bottom: 2rem;
  }
  .desc {
    padding-top: 2rem;
    font-size: 4vw;
    width: 70vw;
  }
  .nameTitle{
    font-size: 4vw;
    margin-bottom: 2vh;
    padding-top: 1vh;

  }
  .litePaper{
    font-size: 8vw;
  }
  .text{
    font-size: 4vw;
  }
}
