* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.faqIndivCont {
  /* max-width: 1000px; */
  width: 70%;
  margin: 20px 0 20px 0;
  /* height: 15vh; */
  display: flex;
  position: relative;
  /* border: 1px solid #ededed; */
  /* border-radius: 10px; */
  padding: 20vh 5% 0 5%;
  border-left: 1px solid white;
  cursor: pointer;
  transition: height 0.2s ease;
  flex-direction: column;
}

.faqIndivCont:hover {
  border-color: #ffff;
  /* border: 2px solid #ffff; */
  transition: all 0.2s ease;
}

.faqIndivContOpen {
  width: 70%;
  /* height: 40vh; */
  display: flex;
  position: relative;
  /* border: 1px solid #ffff; */
  /* border-radius: 10px; */
  cursor: pointer;
  transition: all 0.2s ease;
  margin: 20px 0 20px 0;
  padding: 20vh 5% 0 5%;
  flex-direction: column;
  border-left: 1px solid white;
}

.text {
  position: absolute;
  top: 7.5vh;
  transform: translateY(-50%);
  left: 5%;
  font-size: 4vh;
  max-width: 80%;
  /* opacity: 100%; */
  transition: all 0.3s ease;
  text-align: left;
  font-family: "Sora", sans-serif;
}

.text:hover {
  color: orange;
}

.dropDownBut {
  position: absolute;
  top: 7.5vh;
  transform: translateY(-50%);
  right: 5%;
  transition: all 0.2s ease;
}
.dropDownBut:hover {
  color: orange;
}

.dropDownButOpen {
  position: absolute;
  top: 5vh;
  transform: rotate(180deg);
  right: 5%;
  transition: all 0.2s ease;
}
.dropDownButOpen:hover {
  color: orange;
}

.answer {
  /* position: absolute;
  top: 20vh;
  left: 5%;
  text-align: left;
  padding-right: 5%; */
  text-align: left;
  font-size: 1.5vw;
  line-height: 1.5;
  margin-bottom: 30px;
  width: 90%;
}
.line {
  display: block;
  margin-before: 0.5em;
  margin-after: 0.5em;
  margin-start: auto;
  margin-end: auto;
  overflow: hidden;
  border-style: inset;
  border-width: 1px;
  size: 3;
}

@media only screen and (max-width: 800px) {
  .text {
    font-size: 5vw;
    top: 5vh;
  }

  .faqIndivContOpen {
    height: 30vh;
  }

  .dropDownBut {
    top: 5vh;
  }

  .dropDownButOpen {
    top: 4vh;
  }

  .answer {
    top: 11vh;
    font-size: 4vw;
  }
}
