* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.loreCont {
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 6rem 5vw 0 5vw;
  overflow: hidden;
  /* width: 68vw; */
  /* height: 100vh; */
}

.loreImgCont {
  display: block;
  position: relative;
  width: 65vw;
  height: 90vw;
  margin-bottom: 2vh;
  /* height: calc(65vw * 1.5); */
  /* height: 85vw; */
  /* transform: translateX(-50%); */
}

.imgOff {
  width: 70vw;
  border-radius: 1rem;
  max-width: 1000px;
  /* display: flex; */
  /* display: none; */
  opacity: 0;
  transition: 0.8s ease-in;
  /* transform: translateX(100%); */
}
.img {
  position: absolute;
  width: 70vw;
  border-radius: 1rem;
  max-width: 1000px;
  height: 90vw;
  /* display: flex; */
  /* display: none; */
  opacity: 0;
  transition: 0.8s ease-in;
  transform: translateX(100%);
}

.img0 {
  position: absolute;
  width: 70vw;
  border-radius: 1rem;
  max-width: 1000px;
  /* display: flex; */
  /* display: none; */
  opacity: 0;
  transition: 0.8s ease-in;
  transform: translateX(200%);
}

.img2 {
  position: absolute;
  width: 70vw;
  border-radius: 1rem;
  max-width: 1000px;
  /* display: flex; */
  /* display: none; */
  opacity: 0;
  transition: 0.8s ease-in;
  transform: translateX(300%);
}

.img.imgOn {
  position: absolute;
  top: 0;
  left: 0;
  width: 70vw;
  border-radius: 1rem;
  max-width: 1000px;
  /* display: none; */
  /* display: flex; */
  opacity: 1;
  transition: 1s 0.2s ease;
  transform: translateX(0);
}

.img0.imgOn {
  position: absolute;
  top: 0;
  left: 0;
  width: 70vw;
  border-radius: 1rem;
  max-width: 1000px;
  /* display: none; */
  /* display: flex; */
  opacity: 1;
  transition: 1s 0.2s ease;
  transform: translateX(0);
}

.img2.imgOn {
  position: absolute;
  top: 0;
  left: 0;
  width: 70vw;
  border-radius: 1rem;
  max-width: 1000px;
  /* display: none; */
  /* display: flex; */
  opacity: 1;
  transition: 1s 0.2s ease;
  transform: translateX(0);
}

.title {
  font-size: 3.5vw;
  font-weight: 400;
  margin-bottom: 5vh;
}

.loreDetailsCont {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.imgCont {
  width: 40rem;
  height: 20rem;
  background-color: red;
  margin-right: 2vw;
}

.paraCont {
  width: 30rem;
  text-align: justify;
  font-size: 1.5vw;
}

.text {
  margin-bottom: 2vh;
}

.loreToggleGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loreButGroup {
  display: flex;
  justify-content: space-between;
  width: 70vw;
}

.nextPageButText {
  color: #e0dacb;
  font-family: "Sora", sans-serif;
  font-size: 2vw;
  text-transform: uppercase;
  margin: 0 0.5vw 0 0.5vw;
}

.nextPageBut {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.nextPageBut:hover > .nextPageButText,
.nextPageBut:hover > .arrowIcon {
  color: orange;
}

/* .nextPageButText:hover {
  color: orange;
} */

.pageNumber {
  font-family: "Eagle Lake", cursive;
  font-size: 2vw;
  margin: 0 3vw 2vh 3vw;
}

.nextPageBut:hover.nextPageButText {
  color: orange;
}

.arrowIcon {
  color: #e0dacb;
}

@media only screen and (max-width: 800px) {
  .loreCont {
    margin-top: 5vh;
    height: auto;
  }

  .title {
    font-size: 8vw;
  }

  .loreDetailsCont {
    flex-direction: column;
    align-items: center;
    /* width: 90%; */
  }

  .imgCont {
    height: 50vh;
    width: 90%;
    margin-bottom: 3vh;
  }

  .paraCont {
    width: 80%;
  }

  .text {
    font-size: 2.5vw;
  }
  .img {
    width: 95vw;
  }

  .pageNumber {
    font-size: 4vw;
  }

  .nextPageButText {
    font-size: 3.5vw;
  }

  .loreImgCont {
    /* width: 80vw; */
    margin-bottom: 2vh;
  }
}
