* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.attributesCont {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin: 10vh 0 15vh 0;
}

.title {
  font-family: inherit;
  font-weight: 400;
  font-size: 3vw;
  margin-bottom: 5vh;
}

.image {
  width: 40vw;
}

@media only screen and (max-width: 600px) {
  .attributesCont {
    margin: auto;
  }

  .title {
    font-size: 8.5vw;
  }
}
