.root{
    display: flex;
    flex-direction: column;
    position: relative;
}

.root::after{
    background-color: black;
    content: "";
    position: absolute;
    width: 2px;
    height: 100%;
    left: calc(50% - 2px);
}

.title {
    font-weight: 400;
    font-size: 3vw;
    margin-bottom: 5vh;
  }