.root{
    padding-top: 5rem;
}
.pic{
    width: 90vw;
}

.title {
    font-weight: 400;
    font-size: 3vw;
    margin-bottom: 5vh;
  }

  @media only screen and (max-width: 800px) {
    .title {
        font-size: 8vw;
      }
  }
