.root {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 6rem;
  padding-left: 15rem;
  padding-right: 15rem;
}

.title {
  font-weight: 400;
  font-size: 3vw;
  margin-bottom: 5vh;
}
.list {
  padding-left: 1rem;
  text-align: left;
  list-style-image: url("../Assets/eye.png");
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  /* list-style-position: inside; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.done{
    text-decoration: line-through;   
}


.li {
  /* vertical-align: top; */
  /* display: flex;
  align-items: center; */
  vertical-align: top;
  display: table;
  padding: 1vh 0 1vh 0;
}
.item {
  /* vertical-align: middle; */
  padding-top: 0;
  display: table;
  vertical-align: text-top;
  padding: 1vh 0 1vh 2.5rem;
  background: url("../Assets/eye.png") left top no-repeat;
}
.done {
  /* vertical-align: middle; */
  padding-top: 0;
  display: table;
  vertical-align: text-top;
  padding: 1vh 0 1vh 2.5rem;
  background: url("../Assets/eye.png") left top no-repeat;
  text-decoration: line-through;
}
@media only screen and (max-width: 600px) {
.root{
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .list{
      padding-left: 1rem;
  }
  .title {
    font-size: 8vw;
  }
}  