.App {
  text-align: center;
  background-color: #42434b;
  width: 100%;
  transition: all 0.4s ease-out;
  z-index: 10;
}

.AppOpen {
  transform: translateX(-75%);
  transition: all 0.4s ease-out;
  background-color: #42434b;
}
* {
  scroll-behavior: smooth;
  scrollbar-width: none;
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}
