@import url('https://fonts.googleapis.com/css2?family=Eagle+Lake&family=Lato&family=Sora:wght@700&display=swap');

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #e0dacb;
}
h1{
  font-family: 'Eagle Lake', cursive;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
