* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.charIntroCont {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin: 10vh 0 10vh 0;
  /* height: 100vh; */
  padding-top: 5rem;
}
.content{
  display: flex;
  flex-direction: column;
}

.title {
  font-weight: 400;
  font-size: 3vw;
  margin-bottom: 5vh;
}
.pic{
  width: 30vw;
}
.char{
  width: 30vw;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.top{
  display: flex;
  /* justify-content: space-evenly; */
}
.bottom{
  display: flex;
  padding-top: 3rem;
  flex-direction: row;
  
}
.name{
  padding-top: 1rem;
  color: orange;
}

.desc{
  width: 20vw;
  font-style: italic;
}

@media only screen and (max-width: 600px) {
  .root {
    margin-top: 5vh;
  }
  .top{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70vw;

  }
  .bottom{
    flex-direction: column;
    padding-top: 0rem;
    justify-content: center;
    align-items: center;
    width: 70vw;

  }
  .title {
    font-size: 8.5vw;
  }
  .char{
    width: 100vw;
    padding-bottom: 2rem;
  }
  .pic{
    width: 100vw;
  }
  .desc{
    width: 70vw;
    font-style: italic;
  }
}