* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.charIntroCont {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin: 10vh 0 10vh 0;
  /* height: 100vh; */
  padding-top: 5rem;
}
.content{
  display: flex;
  flex-direction: column;
}

.title {
  font-weight: 400;
  font-size: 3vw;
  margin-bottom: 5vh;
}
.pic{
  width: 12vw;
}
.char{
  width: 15vw;
}
.top{
  display: flex;
  justify-content: space-evenly;
}
.bottom{
  display: flex;
  padding-top: 3rem;
  flex-direction: row;
  
}

@media only screen and (max-width: 600px) {
  .root {
    margin-top: 5vh;
  }
  .top{
    flex-direction: column;
  }
  .bottom{
    flex-direction: column;
    padding-top: 0rem;
  }
  .title {
    font-size: 8.5vw;
  }
  .char{
    width: 50vw;
    padding-bottom: 2rem;
  }
  .pic{
    width: 50vw;
  }
}