* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.charIntroCont {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin: 10vh 0 10vh 0;
  height: 100vh;
  padding-top: 5rem;
}

.title {
  font-family: inherit;
  font-weight: 400;
  font-size: 3vw;
  margin-bottom: 5vh;
}

/* .mascotImgCont {
  height: 10%;
  display: flex;
}

.img {
  object-fit: contain;
  width: 100%;
  height: 100%;
} */

.pic{
  width: 10vw;
}
.char{
  width: 15vw;
}
.top{
  display: flex;
  justify-content: center;
}
.bottom{
  display: flex;
  padding-top: 3rem;
  justify-content: space-around;
}

@media only screen and (max-width: 600px) {
  .root {
    margin-top: 5vh;
  }
  .top{
    flex-direction: column;
  }
  .bottom{
    flex-direction: column;
  }
  .title {
    font-size: 8.5vw;
  }
  .char{
    width: 50vw;
  }
  .pic{
    width: 50vw;
  }
}